<%= form_with(model: style, class: 'needs-validation', novalidate: true) do |f| %>

  <%= render "shared/errors", object: style %>

  <div class="mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control', autofocus: true %>
  </div>

  <div class="mb-3">
    <%= f.label :bjcp_category, "BJCP Category", class: 'form-label' %>
    <%= f.text_field :bjcp_category, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control', rows: 3 %>
  </div>

  <div class="mb-3">
    <%= f.label :fermentation_type, class: 'form-label' %>
    <%= f.text_field :fermentation_type, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :country, class: 'form-label' %>
    <%= f.text_field :country, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
