<!DOCTYPE html>
<html lang="en">
  <head>
    <title>🍺 Styles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">

  <%= render "layouts/header" %>

  <%= render "layouts/flash" %>

      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-4">
          <!-- Placeholder for search -->
        </div>
      </div>
    </div>
  </body>

  <%= render "layouts/footer" %>

</html>
